description "Spigot MC Server"

{% for key,value in app_environment_variables.iteritems() %}
  env {{ key|e }}={{ value|e }};
{% endfor %}

# Keep the process alive, limit to 5 restarts in 60s
respawn
respawn limit 5 60

exec start-stop-daemon --start --chuid {{ app_user }} --chdir {{ app_location }} \
  --exec {{app_location}}/spigot.jar -- --name spigot 2>&1 >> /var/log/spigot/spigot.log
